In [19]:
# import the connector
import mysql.connector

# declare a connection to the MySQL server 
# the hostname (or IP) of the server machine should be passed
db = mysql.connector.connect(
  user="root",
  password="root_pwd",
  host="db", # in this case 'db' is the equivalent of the IP address of the server 
             # or 'localhost' if running mysql locally
)

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fdaf5c3b3d0>

In [20]:
#create our db cursor object
dbc = db.cursor()

#recall connector_object.reset()

In [21]:
# show all available databases and print them
dbc.execute("SHOW DATABASES")
dbc.fetchall()

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

I think it's better to use iPython magic

In [22]:
%load_ext sql

%env DATABASE_URL=mysql+mysqlconnector://root:root_pwd@db

env: DATABASE_URL=mysql+mysqlconnector://root:root_pwd@db

In [23]:
%%sql

SHOW DATABASES;

4 rows affected.

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

## Basic concepts

Show databases:
```mysql
%%sql
SHOW DATABASES;
```

Create database if not exists:
```mysql
%%sql
CREATE DATABASE IF NOT EXISTS <databaseName>;
```
Use a database:
```mysql
%%sql
USE my_db;
```

Once you are in a database, you can work with that. For example it is possible to show the tables in it:
```mysql
%%sql 
SHOW TABLES;
```

Create a new table with a defined structure
```mysql
%%sql
CREATE TABLE <tablename> (<parameter1> <type(limits)> <otherAttributes>, ...);
```

Show the structure of a table
```mysql
%%sql
DESCRIBE <tablename>;
```

Delete a table 
```mysql
%%sql
DROP TABLE IF EXISTS <tablename>;
```


Add a column
```mysql
%%sql
ALTER TABLE <tablename>
ADD COLUMN <parameter> <type(limits)> <otherAttributes>;
```

Modify column structure (es. ```SET DEFAULT 0```)
```mysql
%%sql
ALTER TABLE <tablename>
ALTER <parameter> <instructions>;
```

Or
```mysql
ALTER TABLE <tablename>
MODIFY <parameter> <type(limits)> <otherAttributes>;;
```

Add the primary key

```mysql
ALTER TABLE <TABLE>
ADD PRIMARY KEY <ATTRIBUTE COMBINATION>;
```

Remove primary key
```mysql
%%sql
ALTER TABLE <TABLE>
DROP PRIMARY KEY;
```

Link different tables
```mysql
ALTER TABLE <TABLE>
ADD FOREIGN KEY (<ATTRIBUTE IN THIS TABLE>) REFERENCES <OTHER TABLE>(<ATTRIBUTE IN OTHER TABLE>);
```

Insert rows in a table
```mysql
INSERT INTO <TABLE> (<COLUMN1>, <COLUMN2>, <COLUMN3>, ...)
VALUES (<VALUE1>, <VALUE2>, <VALUE3>, ...);
```

Modify rows
```mysql
UPDATE <TABLE>
SET <ATTRIBUTE> = <NEW VALUE>
WHERE <CONDITION>;
```

Delete rows
```mysql
DELETE FROM <TABLE>
WHERE <CONDITION>;
```

## More on queries

Ways to join
- 1
```mysql
%%sql
SELECT *
FROM <table1>, <table2>
WHERE <table1>.<attr_tab1> = <table2>.<attr_tab1>;
```
- 2
```mysql
%%sql
SELECT *
FROM <table1>
INNER JOIN <table2> ON <table1>.<attr_tab1> = <table2>.<attr_tab1>;
```